<div class="main">
  <div class="container">
    <div class="form-heading">instatement</div>
    <div class="users-form">
      <div class="form-body">
        <table>
          <tr>
            <th>メールアドレス</th>
            <td><input></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><input type="password"></td>
          </tr> 
        </table class="login-table"> 
        <div class="botton-box">
          <input type="submit" value="ログイン" class="botton">
        </div>
        <div class="new">
          <p>新規作成</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>